.container_content_beranda {
  background-color: #f1f1f1;
  height: 100vh;
  padding-bottom: 200px;
}
.main_image {
  padding: 10px 15px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  position: sticky;
  top: 0;
}
.main_image img {
  width: 100px;
  padding-top: 5px;
}
.shop_profil {
  margin-bottom: 15px;
}
.shop_profil_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px #eee;
}
.shop_about {
  display: flex;
  align-items: center;
}
.shop_about img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  object-fit: cover;
}
.shop_about_data {
  padding-left: 8px;
  line-height: 1;
}
.shop_about_name {
  font-size: 14px;
  font-weight: 500;
}
.shop_about_status {
  font-size: 11px;
}
.btn_shop_detail {
  padding: 8px 13px;
  background-color: #307fe2;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  text-decoration: none;
}
.btn_shop_detail:hover {
  background-color: #0066e4;
}
.shop_activity {
  margin-bottom: 15px;
  padding: 10px 12px;
  background-color: white;
}
.shop_activity_title,
.shop_title,
.shop_balance_title,
.shop_statistic_title div {
  font-size: 15px;
  font-weight: bold;
  color: #111;
  margin-bottom: 5px;
}
.list_activity {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}
.box_activity {
  box-shadow: 0 0 2px #eee;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
}
.box_activity_title {
  color: #888;
  font-size: 13px;
}
.box_activity_info {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.box_activity_info svg {
  width: 22px;
  height: 22px;
}
.box_activity_info .box_activity_info_count {
  padding-left: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.shop_balance {
  margin-bottom: 15px;
  background-color: white;
  padding: 10px 12px;
}
.shop_balance_info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
  gap: 8px;
}
.transaction_success_box,
.transaction_process_box {
  box-shadow: 0 0 2px #eee;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
}
.transaction_title {
  font-size: 13px;
  color: #555;
  margin-bottom: 8px;
}
.transaction_info {
  display: flex;
  align-items: center;
}
.transaction_info svg {
  width: 22px;
}
.transaction_balance_amount {
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
  color: #333;
}
.shop_statistic {
  background-color: white;
  padding: 10px 12px;
}
.shop_statistic_title {
  line-height: 0.9;
  margin-bottom: 10px;
}
.shop_statistic_title span {
  font-size: 12px;
  color: #aaa;
}
.shop_statistic_list {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.shop_statistic_item_title {
  font-size: 13px;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.shop_statistic_item_info {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
.shop_statistic_item_info svg {
  width: 22px;
}
.amount {
  font-size: 18px;
  font-weight: 500;
  padding-left: 5px;
}
