.categories_wrapper{
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0px 10px;
}
.categories {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
}
.category_item {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 70px;
  padding: 10px 5px;
  border-radius: 15px;
  transition: 0.3s;
  text-decoration: none;
  box-sizing: border-box;
}
.category_item img {
  width: 25px;
}
.category_item:hover {
  cursor: pointer;
}
.category_name {
  padding-top: 5px;
  font-size: 13px;
  color: #555;
  font-weight: 500;
  text-align: center;
}
.categories_main_text{
  margin: 0px;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
  color: #555;
}
.hor_line{
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eeeeeeba;
}
@media (max-width: 700px){
  .categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 321px){
  .categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}