.header_wrapper {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: rgb(15, 124, 208);
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 5;
}
.header_logo_and_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.header_logo_and_link .itemku_logo {
  width: 120px;
}
.input_search {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
}
.input_search input {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 12px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
}
.input_search img {
  position: absolute;
  width: 23px;
  top: 10px;
  right: 35px;
  cursor: pointer;
  bottom: 0;
}
.list_link{
    display: flex;
}
.link_item {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-left: 10px;
}
.link_item svg {
    width: 30px;
}
.link_item_text{
    color: white;
    padding-left: 5px;
}