.navbar {
  width: 700px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px #aaa;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: white;
  height: 55px;
}
.nav_list{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.nav_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  transition: 0.4s;
  text-decoration: none;
  box-sizing: border-box;
}
.nav_item:hover{
  background-color: #eee;
}
.nav_item svg{
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
}
.nav_item p {
  margin: 0px;
  font-size: 11px;
  color: #333;
  font-weight: 500;
}

@media (max-width: 700px){
  .navbar {
    width: 100%;
  }
}